.footer {
   &__inner {
      padding-inline: clamp(rem(10), vw(80), rem(80));
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: clamp(rem(31), vw(120), rem(120));
      row-gap: rem(20);
      padding-block: clamp(rem(18), vw(80), rem(80));

      a {
         img {
            min-height: rem(64);
            min-width: rem(120);
            object-fit: contain;
         }

         @media (max-width: $tablet) {
            img {
               min-width: rem(72);
               max-width: rem(80);
               min-height: initial;
               max-height: rem(90);
            }
         }

         color: $blue;
         font-weight: 400;
         text-transform: uppercase;
         font-size: clamp(rem(18), vw(32), rem(32));

         @media (any-hover: hover) {
            &:hover {
               color: $black;
               text-decoration: underline;
            }
         }
      }

      ul {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         gap: clamp(rem(11), vw(30), rem(30));

         a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: rem(8);
            margin: rem(-8);
            border-radius: 50%;
            transition: all 0.3s ease;
            color: $blue;
            span {
               color: $blue;
            }
            img {
               min-width: initial;
               min-height: initial;
               width: clamp(rem(21), vw(40), rem(40));
               will-change: transform;
               @media (max-width: $tablet) {
                  min-width: initial;
                  min-height: initial;
               }
            }
            @media (any-hover: hover) {
               &:hover {
                  box-shadow: 0 0 rem(3) rem(4) rgba($color: $blue, $alpha: 0.7);
               }
            }
         }
      }
   }

   &__logo {
   }
}
