// <Layout>===============================================================================================
:root {
	// --header_height: 131px;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 138px;

	@media screen and (min-width: 1920px) {
		font-size: vw(16);
	}

	@media screen and (max-width: 390px) {
		font-size: vw-m(16);
	}
}

html,
body {
	// height: 100%;
}

body {
	//slow rendering speed but better quality
	// text-rendering: optimizeLegibility;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// height: 100%;
	// min-height: 100vh;
	// min-width: rem(300);
	// width: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}
.container {
	width: 100%;
	padding-inline-start: clamp(rem(20), vw(55), rem(55));
	padding-inline-end: clamp(rem(20), vw(55), rem(55));
	margin: 0 auto;
	z-index: 5;
	@media (max-width: em(1300)) {
		padding-inline-start: rem(30);
		padding-inline-end: rem(30);
	}
	@media (max-width: $tablet) {
		padding-inline-start: rem(20);
		padding-inline-end: rem(20);
	}
	@media (max-width: $tabletSmall) {
		padding-inline-start: rem(7);
		padding-inline-end: rem(7);
	}
}

main {
	& > :first-child {
		// padding-top: rem(133);

		@media (max-width: $tablet) {
			// padding-top: rem(68);
		}
	}
}
i {
	&::before {
		font-size: inherit;
		color: inherit;
		font-weight: inherit;
	}
}

// </Layout>===============================================================================================
