// // <Fonts>===============================================================================================
@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}
// // </Fonts>=========================================================================================================

@include font("Ploni", "ploni-regular-aaa", "400", "normal");
@include font("Narkiss", "narkiss-hadash-Regular", "400", "normal");
@include font("Floreal", "Floreal", "400", "normal");




@include font("icons", "icons", "400", "normal");

// // </Fonts>===============================================================================================
