body {
	font-weight: $fontweight;
	line-height: $lineHeight;
	font-family: $font_primary;
	font-size: 1em;
	color: $black;
	background-color: $white;

	&.fixed {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	&.customize-support {
		.site-header {
			margin-top: 32px;
			@media (max-width: 782px) {
				top: 46px;
			}
		}
	}
}

* {
	-webkit-tap-highlight-color: #9c9c9c;
}



.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background-color: $white;
}
